<!-- Bread crumb-->
<div class="col-xs-12 margin-bottom-20 header-new-main">
    <span class="header-icon-band">
        <i class="fa fa-file-text-o icon-band"></i>
    </span>
    <p class="sub-header-new">This page is used to manage Jobs.</p>
</div>
<!--End f bread crumb -->


<!-- Add job button-->
<div style="margin-bottom:0px;padding: 0;" class="col-sm-12">
       <a class="btn-circle btn btn-lg bg-blue text-white pull-right" (click)="AddjobModalfn(1)" placement="bottom" tooltip="Add Job"><i
            class="fa fa-plus"></i></a>
</div>
<!-- <div class="col-lg-12"> -->
    <!-- <button class="btn btn-success pull-right" (click)="AddjobModalfn(1)">
            <i class="fa fa-plus"></i> Add </button> -->
<!-- </div> -->
<!-- Add job button End-->

<div class="row">

    <!-- Table start-->
    <div class="box-body table-responsive col-lg-12" style="margin-top: 10px;">
        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th class="col-lg-2"> Job</th>
                    <th class="col-lg-2"> Code </th>
                    <th class="col-lg-5"> Description </th>
                    <th class="col-lg-2"> Video JD</th>
                    <th class="col-lg-1"> Actions </th>
                </tr>

            </thead>
            <tbody>
                <tr *ngFor="let applicant of tableList">
                    <td>{{applicant.vcJob}}</td>
                    <td>{{applicant.vcCode}}</td>
                    <td>{{applicant.vcDescription}}</td>
                    <td>
                        <a href="javascript:;" target="_blank">
                            <i class="fa fa-link">{{applicant.vcVideoJD}}</i>
                        </a>
                    </td>
                    <td>
                        <a (click)="AddjobModalfn(1)">
                            <i class="fa fa-edit"></i>
                        </a>
                        <a (click)="jobDeleteModal(1)">
                            <i class="fa fa-trash red" style="padding-left:8px;"></i>
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <!-- Table end-->
</div>


<!-- Job add edit modal start  -->
<!-- <div class="modal fade" bsModal #addJobModal="bs-modal" [config]="{backdrop: 'static'}" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <span class="modal-title">
                    <b style="font-size:17px">Job</b>
                </span>
                <span><a class="pull-right  color-black" (click)="AddjobModalfn(0)"><i class="fa fa-times" aria-hidden="true"></i></a>
                </span>
            </div>
            <div class="modal-body">
                <div class="modal-body  container-fluid">
                    <form [formGroup]="userEditForm" class="col-lg-12">
                        <div class="form-group col-lg-12">
                            <div class="col-lg-4">
                                <label class="mt" for="Job">Job</label>
                            </div>
                            <div class="col-lg-8">
                                <mat-form-field class="example-full-width">
                                    <input matInput type="text" autocomplete="off">
                                    <mat-placeholder class="placeholder">Job</mat-placeholder>
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="form-group col-lg-12">
                            <div class="col-lg-4">
                                <label class="mt" for="Code">Code</label>
                            </div>
                            <div class="col-lg-8">
                                <mat-form-field class="example-full-width">
                                    <input matInput type="text" autocomplete="off">
                                    <mat-placeholder class="placeholder">Code</mat-placeholder>
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="form-group col-lg-12">
                            <div class="col-lg-4">
                                <label class="mt" for="Description">Description</label>
                            </div>
                            <div class="col-lg-8">
                                <mat-form-field class="example-full-width">
                                    <input matInput type="text" autocomplete="off">
                                    <mat-placeholder class="placeholder">Description</mat-placeholder>
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="form-group col-lg-12">
                            <div class="col-lg-4">
                                <label class="mt" for="VideoJD">Video JD </label>
                            </div>
                            <div class="col-lg-8">
                                <mat-form-field class="example-full-width">
                                    <input matInput type="text" autocomplete="off">
                                    <mat-placeholder class="placeholder">Video JD Link</mat-placeholder>
                                </mat-form-field>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" (click)="AddjobModalfn(0)">Save</button>
                <button type="button" class="btn btn-default" (click)="AddjobModalfn(0)">Close</button>
            </div>
        </div>
    </div>
</div> -->

<!-- Job add edit modal End-->

<!-- Job Delete modal start  -->
<div class="modal fade" bsModal #deleteJobModal="bs-modal" [config]="{backdrop: 'static'}" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <span class="modal-title">
                    <b style="font-size:17px">Delete Job</b>
                </span>
                <span><a class="pull-right  color-black" (click)="jobDeleteModal(0)"><i class="fa fa-times" aria-hidden="true"></i></a>
                </span>
            </div>
            <div class="modal-body  container-fluid">
                <p>&nbsp;&nbsp; Are you sure you want to delete?</p>
            </div>
            <div class="modal-footer delete-modal">
                <button type="submit" class="btn btn-success" (click)="jobDeleteModal(0)">Confirm</button>
                <button type="button" class="btn btn-default" (click)="jobDeleteModal(0)">Cancel</button>
            </div>
        </div>
    </div>
</div>

<!-- Job Delete modal End-->










<!-- Job add testing edit modal start  -->
<div class="modal fade" bsModal #addJobModal="bs-modal" [config]="{backdrop: 'static'}" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <span class="modal-title">
                        <b style="font-size:17px">Job</b>
                    </span>
                    <span><a class="pull-right  color-black" (click)="AddjobModalfn(0)"><i class="fa fa-times" aria-hidden="true"></i></a>
                    </span>
                </div>
                <div class="modal-body">
                    <div class="modal-body  container-fluid">
                        <form [formGroup]="userEditForm" class="col-lg-12">
                            <div class="form-group col-lg-6">
                                <div class="col-lg-12">
                                    <mat-form-field class="example-full-width">
                                        <input matInput type="text" autocomplete="off">
                                        <mat-placeholder class="placeholder">Job</mat-placeholder>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="form-group col-lg-6">
                                <div class="col-lg-12">
                                    <mat-form-field class="example-full-width">
                                        <input matInput type="text" autocomplete="off">
                                        <mat-placeholder class="placeholder">Code</mat-placeholder>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="form-group col-lg-6">
                                <div class="col-lg-12">
                                    <mat-form-field class="example-full-width">
                                        <input matInput type="text" autocomplete="off">
                                        <mat-placeholder class="placeholder">Description</mat-placeholder>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="form-group col-lg-6">
                                <div class="col-lg-12">
                                    <mat-form-field class="example-full-width">
                                        <input matInput type="text" autocomplete="off">
                                        <mat-placeholder class="placeholder">Video JD Link</mat-placeholder>
                                    </mat-form-field>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-success" (click)="AddjobModalfn(0)">Save</button>
                    <button type="button" class="btn btn-default" (click)="AddjobModalfn(0)">Close</button>
                </div>
            </div>
        </div>
    </div>
    
    <!-- Job add edit modal End-->