<!-- Bread crumb-->
<div class="col-xs-12 margin-bottom-20 header-new-main">
    <span class="header-icon-band">
        <i class="fa fa-file-text-o icon-band"></i>
    </span>
    <p class="sub-header-new">This page is used to manage Jobs.</p>
</div>
<!--End f bread crumb -->


<div class="row">
    <!-- Add job button-->
    <div class="col-lg-12">
        <button class="btn btn-success pull-right" (click)="AddjobModalfn(1)">
            <i class="fa fa-plus"></i> Add </button>
    </div>



    <!-- Add job button End-->


    <!-- Table start-->
    <div class="box-body table-responsive col-lg-12" style="margin-top: 20px;">
        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th class="col-lg-2"> Job</th>
                    <th class="col-lg-2"> Code </th>
                    <th class="col-lg-5"> Description </th>
                    <th class="col-lg-2"> Video JD</th>
                    <th class="col-lg-1"> Actions </th>
                </tr>

            </thead>
            <tbody>
                <tr *ngFor="let applicant of tableList">
                    <td>{{applicant.vcJob}}</td>
                    <td>{{applicant.vcCode}}</td>
                    <td>{{applicant.vcDescription}}</td>
                    <td>
                        <a href="javascript:;" target="_blank">
                            <i class="fa fa-link">{{applicant.vcVideoJD}}</i>
                        </a>
                    </td>
                    <td>
                        <a (click)="AddjobModalfn(1)">
                            <i class="fa fa-edit"></i>
                        </a>
                        <a (click)="jobDeleteModal(1)">
                            <i class="fa fa-trash red" style="padding-left:8px;"></i>
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <!-- Table end-->
</div>


<!-- Job add edit modal start  -->
<div class="modal fade" bsModal #addJobModal="bs-modal" [config]="{backdrop: 'static'}" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">
                    <b>Job</b>
                </h4>
            </div>
            <div class="modal-body">
                <div class="modal-body row">
                    <form [formGroup]="userEditForm" class="col-lg-12">
                        <div class="form-group col-lg-12">
                            <div class="col-lg-4">
                                <label class="mt" for="Job">Job</label>
                            </div>
                            <div class="col-lg-8">
                                <input type="text" class="form-control" formControlName="Job" placeholder="Job" />
                            </div>
                        </div>
                        <div class="form-group col-lg-12">
                            <div class="col-lg-4">
                                <label class="mt" for="Code">Code</label>
                            </div>
                            <div class="col-lg-8">
                                <input type="text" class="form-control" formControlName="Code" placeholder="code" />
                            </div>
                        </div>
                        <div class="form-group col-lg-12">
                            <div class="col-lg-4">
                                <label class="mt" for="Description">Description</label>
                            </div>
                            <div class="col-lg-8">
                                <input type="text" class="form-control" formControlName="Description" placeholder="Description" />
                            </div>
                        </div>
                        <div class="form-group col-lg-12">
                            <div class="col-lg-4">
                                <label class="mt" for="VideoJD">Video JD </label>
                            </div>
                            <div class="col-lg-8">
                                <input type="text" class="form-control" formControlName="VideoJD" placeholder="Video JD Link" />
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" (click)="AddjobModalfn(0)">Save</button>
                <button type="button" class="btn btn-default" (click)="AddjobModalfn(0)">Close</button>
            </div>
        </div>
    </div>
</div>

<!-- Job add edit modal End-->

<!-- Job Delete modal start  -->
<div class="modal fade" bsModal #deleteJobModal="bs-modal" [config]="{backdrop: 'static'}" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">
                    <b>Delete Job </b>
                </h4>
            </div>
            <div class="modal-body">
                <p>Are you sure you want to delete?</p>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-success" (click)="jobDeleteModal(0)">Confirm</button>
                <button type="button" class="btn btn-default" (click)="jobDeleteModal(0)">Close</button>
            </div>
        </div>
    </div>
</div>

<!-- Job Delete modal End-->














<!--testing-->
<!-- <button type="button" class="btn btn-primary" (click)="openModal(template)">Open modal</button>
<br>
<br>
<button type="button" class="btn btn-primary btn-sm" (click)="config.ignoreBackdropClick = !config.ignoreBackdropClick">{{!config.ignoreBackdropClick
    ? 'Disable' : 'Enable'}} backdrop click</button>

<ng-template #template>
    <div class="modal-header">
        <h4 class="modal-title pull-left">Modal</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <p>Are you sure you want to delete?</p>
    </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-success" (click)="jobDeleteModal(0)">Confirm</button>
        <button type="button" class="btn btn-default" (click)="modalRef.hide()">Close</button>
    </div>
</ng-template> -->