<!-- Bread crumb-->
<div class="col-sm-12">
  <div class="col-lg-12 margin-bottom-10 header-new-main">
    <span class="header-icon-band">
      <i class="fa fa-file-text-o icon-band"></i>
    </span>
    <p class="sub-header-new">This page used to add an Associate.</p>
  </div>
</div>
<!--End of bread crumb -->

<div class="col-md-6">
  <form class="form-horizontal">
      <div class="form-group">
          <label for="inputEmail3" class="col-sm-4 control-label">EMP ID  :</label>
          <div class="col-sm-7">
              <input type="email" class="form-control" id="inputEmail3" placeholder="EMP ID ">
          </div>
      </div>

      <div class="form-group">
          <label for="inputEmail3" class="col-sm-4 control-label">Emp Name   :</label>
          <div class="col-sm-7">
              <input type="email" class="form-control" id="inputEmail3" placeholder="Emp Name">
          </div>
      </div>

      <div class="form-group">
          <label for="inputEmail3" class="col-sm-4 control-label">Designation   :</label>
          <div class="col-sm-7">
              <input type="email" class="form-control" id="inputEmail3" placeholder="Designation">
          </div>
      </div>

      <div class="form-group">
          <label for="inputEmail3" class="col-sm-4 control-label">Mobile Number   :</label>
          <div class="col-sm-7">
              <input type="email" class="form-control" id="inputEmail3" placeholder="Mobile Number">
          </div>
      </div>

    
  </form>
</div>
<div class="col-md-6">
  <form class="form-horizontal">
      <div class="form-group">
          <label for="inputEmail3" class="col-sm-4 control-label">DOB :</label>
          <div class="col-sm-7">
              <input type="email" class="form-control " id="datepicker" placeholder="DOB">
          </div>
      </div>
      <div class="form-group">
          <label for="inputEmail3" class="col-sm-4 control-label">Date of Joining  :</label>
          <div class="col-sm-7">
              <input type="text" class="form-control datepicker" placeholder="mm/dd/yyyy">
          </div>
      </div>

      <div class="form-group">
          <label for="inputEmail3" class="col-sm-4 control-label">Date of Leaving  :</label>
          <div class="col-sm-7">
              <input type="text" class="form-control datepicker" placeholder="mm/dd/yyyy">
          </div>
      </div>
      <div class="form-group">
          <label for="inputEmail3" class="col-sm-4 control-label">Reporting Manager  :</label>
          <div class="col-sm-7">
              <input type="text" class="form-control" placeholder="Reporting Manager">
          </div>
      </div>
  </form>
</div>
<div class="col-md-offset-right-1 col-md-11  text-right">
  <a href="javascript:;" class="btn btn-primary">Save</a>
</div>