<div class="card-body">
    <ul class="timeline">
        <li>
            <div class="timeline-badge"><i class="fa fa-check"></i>
            </div>
            <div class="timeline-panel">
                <div class="timeline-heading">
                    <h4 class="timeline-title">Initail HR</h4>
                </div>
                <div class="timeline-body">
                    <p> Comments </p>
                </div>
            </div>
        </li>
        <li class="timeline-inverted">
            <div class="timeline-badge warning"><i class="fa fa-credit-card"></i>
            </div>
            <div class="timeline-panel">
                <div class="timeline-heading">
                    <h4 class="timeline-title">IQ test</h4>
                </div>
                <div class="timeline-body">
                    <p>Total : 110</p>
                    <p>Analytical : 100</p>
                    <p>Logical: 107</p>
                </div>
            </div>
        </li>
        <li>
            <div class="timeline-badge danger"><i class="fa fa-bomb"></i>
            </div>
            <div class="timeline-panel">
                <div class="timeline-heading">
                    <h4 class="timeline-title">First Validation</h4>
                </div>
                <div class="timeline-body">
                    <p>Confidence : 4 / 5 </p>
                    <p>Communication : 2.5 / 5 </p>
                </div>
            </div>
        </li>
        <li class="timeline-inverted">
                <div class="timeline-badge danger"><i class="fa fa-bomb"></i>
                </div>
            <div class="timeline-panel">
                <div class="timeline-heading">
                    <h4 class="timeline-title">Second Validation</h4>
                </div>
                <div class="timeline-body">
                    <p>Confidence : 3 / 5 </p>
                    <p>Communication : 3.5 / 5 </p>
                </div>
            </div>
        </li>
        <li>
            <div class="timeline-badge info"><i class="fa fa-save"></i>
            </div>
            <div class="timeline-panel">
                <div class="timeline-heading">
                    <h4 class="timeline-title">HR Manager Round</h4>
                    <hr>
                </div>
                <div class="timeline-body">
                    <p>Bond : Ok </p>
                </div>
            </div>
        </li>
    </ul>
</div>




<!-- all single side -->

<div class="card-body " id="test">
        <ul class="timeline">
            <li  class="timeline-inverted">
                <div class="timeline-badge"><i class="fa fa-check"></i>
                </div>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4 class="timeline-title">Initail HR</h4>
                    </div>
                    <div class="timeline-body">
                        <p> Comments </p>
                    </div>
                </div>
            </li>
            <li  class="timeline-inverted">
                <div class="timeline-badge warning"><i class="fa fa-credit-card"></i>
                </div>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4 class="timeline-title">IQ test</h4>
                    </div>
                    <div class="timeline-body">
                        <p>Total : 110</p>
                        <p>Analytical : 100</p>
                        <p>Logical: 107</p>
                    </div>
                </div>
            </li>
            <li  class="timeline-inverted">
                <div class="timeline-badge danger"><i class="fa fa-bomb"></i>
                </div>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4 class="timeline-title">First Validation</h4>
                    </div>
                    <div class="timeline-body">
                        <p>Confidence : 4 / 5 </p>
                        <p>Communication : 2.5 / 5 </p>
                    </div>
                </div>
            </li>
            <li class="timeline-inverted">
                    <div class="timeline-badge danger"><i class="fa fa-bomb"></i>
                    </div>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4 class="timeline-title">Second Validation</h4>
                    </div>
                    <div class="timeline-body">
                        <p>Confidence : 3 / 5 </p>
                        <p>Communication : 3.5 / 5 </p>
                    </div>
                </div>
            </li>
            <li class="timeline-inverted">
                <div class="timeline-badge info"><i class="fa fa-save"></i>
                </div>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4 class="timeline-title">HR Manager Round</h4>
                        <hr>
                    </div>
                    <div class="timeline-body">
                        <p>Bond : Ok </p>
                    </div>
                </div>
            </li>
        </ul>
    </div>