<div class="card-body">

    <ul class="timeline">
        <li>
            <div class="timeline-badge"><i class="fa fa-check"></i>
            </div>
            <div class="timeline-panel">
                <div class="timeline-heading">
                    <h4 class="timeline-title">Initail HR &nbsp;&nbsp;<a class="pull-right red" (click)="fnDeleteModal(1)"><i
                                class="fa fa-trash-o"></i></a><a class="pull-right" (click)="fnAddModal(1)"><i class="fa fa-pencil"></i></a>
                    </h4>
                    <hr>
                </div>
                <div class="timeline-body">
                    <p> Comments </p>
                </div>
            </div>
        </li>
        <li class="timeline-inverted">
            <div class="timeline-badge warning"><i class="fa fa-credit-card"></i>
            </div>
            <div class="timeline-panel">
                <div class="timeline-heading">
                    <h4 class="timeline-title">IQ test &nbsp;&nbsp;<a class="pull-right red" (click)="fnDeleteModal(1)"><i
                                class="fa fa-trash-o"></i></a><a class="pull-right" (click)="fnAddModal(1)"><i class="fa fa-pencil"></i></a></h4>
                    <hr>
                </div>
                <div class="timeline-body">
                    <p>Total : 110</p>
                    <p>Analytical : 100</p>
                    <p>Logical: 107</p>
                </div>
            </div>
        </li>
        <li>
            <div class="timeline-badge danger"><i class="fa fa-bomb"></i>
            </div>
            <div class="timeline-panel">
                <div class="timeline-heading">
                    <h4 class="timeline-title">First Validation &nbsp;&nbsp;
                        <a class="pull-right red" (click)="fnDeleteModal(1)"><i class="fa fa-trash-o"></i></a>
                        <a class="pull-right" (click)="fnAddModal(1)"><i class="fa fa-pencil"></i></a></h4>
                    <hr>
                </div>
                <div class="timeline-body">
                    <p>Confidence : 4 / 5 </p>
                    <p>Communication : 2.5 / 5 </p>
                </div>
            </div>
        </li>
        <li class="timeline-inverted">
            <div class="timeline-badge danger"><i class="fa fa-bomb"></i>
            </div>
            <div class="timeline-panel">
                <div class="timeline-heading">
                    <h4 class="timeline-title">Second Validation &nbsp;&nbsp;
                        <a class="pull-right red" (click)="fnDeleteModal(1)"><i class="fa fa-trash-o"></i></a>
                        <a class="pull-right" (click)="fnAddModal(1)"><i class="fa fa-pencil"></i></a></h4>
                    <hr>
                </div>
                <div class="timeline-body">
                    <p>Confidence : 3 / 5 </p>
                    <p>Communication : 3.5 / 5 </p>
                </div>
            </div>
        </li>
        <li>
            <div class="timeline-badge info"><i class="fa fa-save"></i>
            </div>
            <div class="timeline-panel">
                <div class="timeline-heading">
                    <h4 class="timeline-title">HR Manager Round &nbsp;&nbsp;
                        <a class="pull-right red" (click)="fnDeleteModal(1)"><i class="fa fa-trash-o"></i></a>
                        <a class="pull-right" (click)="fnAddModal(1)"><i class="fa fa-pencil"></i></a></h4>
                    <hr>
                </div>
                <div class="timeline-body">
                    <p>Bond : Ok </p>
                </div>
            </div>
        </li>
    </ul>

</div>




<!-- all single side -->

<div class="card-body " id="test">
    <ul class="timeline">
        <li class="timeline-inverted">
            <div class="timeline-badge"><i class="fa fa-check"></i>
            </div>
            <div class="timeline-panel">
                <div class="timeline-heading">
                    <h4 class="timeline-title">Initail HR &nbsp;&nbsp;
                        <a class="pull-right red" (click)="fnDeleteModal(1)"><i class="fa fa-trash-o"></i></a>
                        <a class="pull-right" (click)="fnAddModal(1)"><i class="fa fa-pencil"></i></a></h4>
                    <hr>
                </div>
                <div class="timeline-body">
                    <p> Comments </p>
                </div>
            </div>
        </li>
        <li class="timeline-inverted">
            <div class="timeline-badge warning"><i class="fa fa-credit-card"></i>
            </div>
            <div class="timeline-panel">
                <div class="timeline-heading">
                    <h4 class="timeline-title">IQ test &nbsp;&nbsp;
                        <a class="pull-right red" (click)="fnDeleteModal(1)"><i class="fa fa-trash-o"></i></a>
                        <a class="pull-right" (click)="fnAddModal(1)"><i class="fa fa-pencil"></i></a></h4>
                    <hr>
                </div>
                <div class="timeline-body">
                    <p>Total : 110</p>
                    <p>Analytical : 100</p>
                    <p>Logical: 107</p>
                </div>
            </div>
        </li>
        <li class="timeline-inverted">
            <div class="timeline-badge danger"><i class="fa fa-bomb"></i>
            </div>
            <div class="timeline-panel">
                <div class="timeline-heading">
                    <h4 class="timeline-title">First Validation &nbsp;&nbsp;
                        <a class="pull-right red" (click)="fnDeleteModal(1)"><i class="fa fa-trash-o"></i></a>
                        <a class="pull-right" (click)="fnAddModal(1)"><i class="fa fa-pencil"></i></a></h4>
                    <hr>
                </div>
                <div class="timeline-body">
                    <p>Confidence : 4 / 5 </p>
                    <p>Communication : 2.5 / 5 </p>
                </div>
            </div>
        </li>
        <li class="timeline-inverted">
            <div class="timeline-badge danger"><i class="fa fa-bomb"></i>
            </div>
            <div class="timeline-panel">
                <div class="timeline-heading">
                    <h4 class="timeline-title">Second Validation &nbsp;&nbsp;
                        <a class="pull-right red" (click)="fnDeleteModal(1)"><i class="fa fa-trash-o"></i></a>
                        <a class="pull-right" (click)="fnAddModal(1)"><i class="fa fa-pencil"></i></a></h4>
                    <hr>
                </div>
                <div class="timeline-body">
                    <p>Confidence : 3 / 5 </p>
                    <p>Communication : 3.5 / 5 </p>
                </div>
            </div>
        </li>
        <li class="timeline-inverted">
            <div class="timeline-badge info"><i class="fa fa-save"></i>
            </div>
            <div class="timeline-panel">
                <div class="timeline-heading">
                    <h4 class="timeline-title">HR Manager Round &nbsp;&nbsp;
                        <a class="pull-right red" (click)="fnDeleteModal(1)"><i class="fa fa-trash-o"></i></a>
                        <a class="pull-right" (click)="fnAddModal(1)"><i class="fa fa-pencil"></i></a></h4>
                    <hr>
                </div>
                <div class="timeline-body">
                    <p>Bond : Ok </p>
                </div>
            </div>
        </li>
    </ul>
</div>



<!--ADD MODAL START-->
<div class="modal fade" bsModal #addModal="bs-modal" [config]="{backdrop: 'static'}" role="dialog">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <span class="modal-title">
                    <b style="font-size:17px">Process Update</b>
                </span>
                <span><a class="pull-right color-black" (click)="fnAddModal(0)"><i class="fa fa-times" aria-hidden="true"></i></a>
                </span>
            </div>
            <div class="modal-body row">


                <div class="form-group col-lg-12">
                    <div class="col-lg-4">
                        <label class="mt" for="vcName">Select Process:</label>
                    </div>
                    <div class="col-lg-8">
                        <select class="form-control">
                            <option>Initial HR Round</option>
                            <option>IQ Test</option>
                            <option>First Validation</option>
                            <option>Second Validation</option>
                            <option>HR Manager Round</option>
                            <option>Final Interview</option>
                            <option>Waiting List</option>
                            <option>Reference Check</option>
                            <option>Offer Letter</option>
                        </select>
                    </div>
                </div>

                <div class="form-group col-lg-12">
                    <div class="col-lg-4">
                        <label class="mt" for="vcName" style="line-height: 4;">Comments</label>
                    </div>
                    <div class="col-lg-8">
                        <mat-form-field class="example-full-width">
                            <textarea matInput placeholder="Leave a comment"></textarea>
                        </mat-form-field>
                        <!-- <input type="text" class="form-control" formControlName="vcName" placeholder="Applicant Name" /> -->
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <div style="width: 150px;" class="col-sm-offset-4">
                    <button type="button" class="btn btn-success" (click)="fnAddModal(0)">Save</button>
                    <button type="button" class="btn btn-default" (click)="fnAddModal(0)">Close</button>
                </div>
            </div>
        </div>

    </div>
</div>
<!--ADD MODAL END-->


<!--DELETE MODAL START-->
<div class="modal fade" bsModal #deleteModal="bs-modal" [config]="{backdrop: 'static'}" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <span class="modal-title">
                    <b style="font-size:17px">Confirm</b>
                </span>
                <span><a class="pull-right color-black" (click)="fnDeleteModal(0)"><i class="fa fa-times" aria-hidden="true"></i></a>
                </span>
            </div>
            <div class="modal-body">
                <p>&nbsp;&nbsp; Are you sure you want to delete?</p>
            </div>
            <div class="modal-footer delete-modal">
                <button type="submit" class="btn btn-success" (click)="fnDeleteModal(0)">Confirm</button>
                <button type="button" class="btn btn-default" (click)="fnDeleteModal(0)">Cancel</button>
            </div>
        </div>
    </div>
</div>
<!--DELETE MODAL END-->