<div class="col-sm-12" style="margin-top:10px;">
  <div class="row">
    <div class="col-xs-12">
      <div class="text-right">
        <a href="" class="btn btn-primary">Add Employee</a>
      </div>
      <div>
        <div class="row">
          <div class="col-sm-12" style="margin-top:10px;">
            <table class="table table-bordered table-striped table-responsive">
              <thead>
                <tr>
                  <th>Employee ID</th>
                  <th>First Name</th>
                  <th>Last Name</th>
                  <th>Email</th>
                  <th>Reporting Manager</th>
                  <th>Department</th>
                  <th>Actions</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td><a [routerLink]="['/admin/associate/fitness']">EMP12</a></td>
                  <td>Navin</td>
                  <td>Malik</td>
                  <td>navin@optionmatrix.com</td>
                  <td>Navin</td>
                  <td>IT</td>
                  <td><a>More Info</a> </td>
                </tr>
                <tr>
                  <td><a [routerLink]="['/admin/associate/fitness']">EMP13</a></td>
                  <td>Radha</td>
                  <td>Krishna</td>
                  <td>rk@optionmatrix.com</td>
                  <td>Navin</td>
                  <td>IT</td>
                  <td><a>More Info</a> </td>
                </tr>
                <tr>
                  <td><a [routerLink]="['/admin/associate/fitness']">EMP14</a></td>
                  <td>Srinu</td>
                  <td>Ili</td>
                  <td>srinu@optionmatrix.com</td>
                  <td>Navin</td>
                  <td>IT</td>
                  <td><a>More Info</a> </td>
                </tr>
                <tr>
                  <td><a [routerLink]="['/admin/associate/fitness']">EMP15</a></td>
                  <td>Salman </td>
                  <td>patan</td>
                  <td>salman@optionmatrix.com</td>
                  <td>Navin</td>
                  <td>IT</td>
                  <td><a>More Info</a> </td>
                </tr>
              </tbody>

            </table>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>