<div class="login">
  <div class="">
    <!-- BEGIN SIDEBAR TOGGLER BUTTON -->
    <div class="menu-toggler sidebar-toggler">
    </div>
    <!-- END SIDEBAR TOGGLER BUTTON -->
    <!-- BEGIN LOGO -->
    <div class="logo">
      <a href="index.html">
        <img src="../../assets/theme/assets/admin/layout3/img/om_dark.png" alt="option Matrix" class="img img-responsive" style="height: 100px;"
        />
      </a>
    </div>
    <!-- END LOGO -->
    <!-- BEGIN LOGIN -->
    <div class="content ">
      <!-- BEGIN LOGIN FORM -->
      <form class="login-form" [formGroup]="loginForm">
        <h3 class="form-title">Sign In</h3>
        <div class="alert alert-danger display-hide">
          <button class="close" data-close="alert"></button>
          <span>
            Enter any username and password. </span>
        </div>
        <div class="form-group">
          <!--ie8, ie9 does not support html5 placeholder, so we just show field title for that-->
          <!-- <label class="control-label visible-ie8 visible-ie9">Username</label>
          <input class="form-control form-control-solid placeholder-no-fix" formControlName="username" type="text" autocomplete="off"
            placeholder="Username" name="username" /> -->
            <mat-form-field class="example-full-width">
              <input matInput formControlName="username" type="text" autocomplete="off" name="username">
              <mat-placeholder class="placeholder">Email ID</mat-placeholder>
            </mat-form-field>
        </div>
        <div class="form-group">
          <!-- <label class="control-label visible-ie8 visible-ie9">Password</label>
          <input class="form-control form-control-solid placeholder-no-fix" type="password" autocomplete="off" placeholder="Password"
            formControlName="password" name="password" /> -->
            <mat-form-field class="example-full-width">
              <input matInput formControlName="password" type="password" autocomplete="off" name="password">
              <mat-placeholder class="placeholder">Password</mat-placeholder>
            </mat-form-field>
        </div>
        <div class="form-actions">
          <a [routerLink]="['/admin/recruitment/manage-applicants']" (click)="onSubmit(loginForm.value)" class="btn btn-success uppercase">Login</a>
          <!-- <label class="rememberme check">
            <input type="checkbox" name="remember" value="1" />Remember </label> -->
            <mat-checkbox color="primary" style="margin-left:5px">Remember me!</mat-checkbox>

          <a [routerLink]="['/forgot-pw']" id="forget-password" class="forget-password">Forgot Password?</a>
        </div>
      </form>
      <!-- END LOGIN FORM -->
    </div>

  </div>
  <div class="copyright">
    2018 © HR - RSFAC. Option Matrix.
  </div>
</div>