<app-associate-tab-band></app-associate-tab-band>

  <!-- Bread crumb-->
  <div class="col-sm-12">
    <div class="col-lg-12 margin-bottom-10 header-new-main">
        <span class="header-icon-band">
            <i class="fa fa-file-text-o icon-band"></i>
        </span>
        <p class="sub-header-new">This page indicates the Alignment Statistics of an Associate.</p>
    </div>
</div>
<!--End f bread crumb -->


<div class="col-sm-12">
  <div [chart]="quartileChart" class="col-sm-12" style="margin-top:10px;box-shadow: 0px 2px 2px 3px #c9c6c6;"></div>
</div>

