<div class="page-header col-lg-12">
	<!-- BEGIN HEADER TOP -->
	<div class="page-header-top col-lg-12">
		<div class="container-fluid">
			<!-- BEGIN LOGO -->
			<div class="page-logo">
				<a href="javascript:;">
					<img src="../../../assets/theme/assets/admin/layout3/img/om_dark.png" alt="logo" class="logo-default">
				</a>
			</div>
			<!-- END LOGO -->
			<!-- BEGIN RESPONSIVE MENU TOGGLER -->
			<a href="javascript:;" class="menu-toggler"></a>
			<!-- END RESPONSIVE MENU TOGGLER -->
			<!-- BEGIN TOP NAVIGATION MENU -->
			<div class="top-menu">
				<ul class="nav navbar-nav pull-right">
					<!-- BEGIN USER LOGIN DROPDOWN -->
					<li class="dropdown dropdown-user dropdown-dark">
						<a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
							<img alt="" class="img-circle" src="../../../assets/theme/assets/admin/layout3/img/avatar9.jpg">
							<span class="username username-hide-mobile">Nick</span>
						</a>
						<ul class="dropdown-menu dropdown-menu-default">
							<li>
								<a href="javascript:;">
									<i class="icon-user"></i> My Profile </a>
							</li>
							<li>
								<a href="javascript:;">
									<i class="icon-calendar"></i> My Calendar </a>
							</li>
							<li>
								<a href="javascript:;">
									<i class="icon-envelope-open"></i> My Inbox
									<span class="badge badge-danger">
										3 </span>
								</a>
							</li>
							<li>
								<a href="javascript:;">
									<i class="icon-rocket"></i> My Tasks
									<span class="badge badge-success">
										7 </span>
								</a>
							</li>
							<li class="divider">
							</li>
							<li>
								<a href="javascript:;">
									<i class="icon-lock"></i> Lock Screen </a>
							</li>
							<li>
								<a [routerLink]="['/login']">
									<i class="icon-key"></i> Log Out </a>
							</li>
						</ul>
					</li>
					<!-- END USER LOGIN DROPDOWN -->
				</ul>
			</div>
			<!-- END TOP NAVIGATION MENU -->
		</div>
	</div>
	<!-- END HEADER TOP -->
	<!-- BEGIN HEADER MENU -->
	<div class="page-header-menu" style="display: block;">
		<div class="container-fluid">
			<!-- BEGIN MEGA MENU -->
			<!-- DOC: Apply "hor-menu-light" class after the "hor-menu" class below to have a horizontal menu with white background -->
			<!-- DOC: Remove data-hover="dropdown" and data-close-others="true" attributes below to disable the dropdown opening on mouse hover -->
			<div class="hor-menu col-lg-12">
				<ul class="nav navbar-nav">
					<li [routerLinkActive]="['active']" >
						<a [routerLink]="['/admin/dashboard']">Dashboard</a>
					</li>
					<li [routerLinkActive]="['active']">
						<a [routerLink]="['/admin/recruitment']">
							Recruitment
						</a>
						<!-- <ul class="dropdown-menu">
							<li class="">
								<a href="/HRRSFAC/admin/addjob">
									<i class="icon-tag"></i>
									Add Job </a>
							</li>
							<li class="">
								<a [routerLink]="['/admin/recruitment']">
									<i class="icon-tag"></i>
									Manage Jobs </a>
							</li>
						</ul> -->
					</li>
					<li [routerLinkActive]="['active']" >
						<a [routerLink]="['/admin/alignment']" >
							Alignment
						</a>
						<!-- <ul class="dropdown-menu hide">
							<li>
								<div class="mega-menu-content">
									<div class="row">
										<div class="col-md-3">
											<ul class="mega-menu-submenu">
												<li>
													<h3>UI Components</h3>
												</li>
												<li>
													<a href="javascript:;">
														<i class="fa fa-angle-right"></i>
														General </a>
												</li>
												<li>
													<a href="javascript:;">
														<i class="fa fa-angle-right"></i>
														Buttons </a>
												</li>
												<li>
													<a href="javascript:;">
														<i class="fa fa-angle-right"></i>
														Font Icons </a>
												</li>
												<li>
													<a href="javascript:;">
														<i class="fa fa-angle-right"></i>
														Flat UI Colors </a>
												</li>
												<li>
													<a href="javascript:;">
														<i class="fa fa-angle-right"></i>
														Typography </a>
												</li>
												<li>
													<a href="javascript:;">
														<i class="fa fa-angle-right"></i>
														Tabs, Accordions &amp; Navs </a>
												</li>
												<li>
													<a href="javascript:;">
														<i class="fa fa-angle-right"></i>
														Tree View </a>
												</li>
												<li>
													<a href="javascript:;">
														<i class="fa fa-angle-right"></i>
														Page Progress Bar
														<span class="badge badge-roundless badge-warning">new</span>
													</a>
												</li>
												<li>
													<a href="javascript:;">
														<i class="fa fa-angle-right"></i>
														Block UI </a>
												</li>
												<li>
													<a href="javascript:;">
														<i class="fa fa-angle-right"></i>
														Bootstrap Growl Notifications
														<span class="badge badge-roundless badge-warning">new</span>
													</a>
												</li>
												<li>
													<a href="javascript:;">
														<i class="fa fa-angle-right"></i>
														Notific8 Notifications </a>
												</li>
											</ul>
										</div>
										<div class="col-md-3">
											<ul class="mega-menu-submenu">
												<li>
													<h3>More UI Components</h3>
												</li>
												<li>
													<a href="javascript:;">
														<i class="fa fa-angle-right"></i>
														Toastr Notifications </a>
												</li>
												<li>
													<a href="javascript:;">
														<i class="fa fa-angle-right"></i>
														Alerts &amp; Dialogs API
														<span class="badge badge-roundless badge-danger">new</span>
													</a>
												</li>
												<li>
													<a href="javascript:;">
														<i class="fa fa-angle-right"></i>
														Session Timeout </a>
												</li>
												<li>
													<a href="javascript:;">
														<i class="fa fa-angle-right"></i>
														User Idle Timeout </a>
												</li>
												<li>
													<a href="javascript:;">
														<i class="fa fa-angle-right"></i>
														Modals </a>
												</li>
												<li>
													<a href="javascript:;">
														<i class="fa fa-angle-right"></i>
														Extended Modals </a>
												</li>
												<li>
													<a href="javascript:;">
														<i class="fa fa-angle-right"></i>
														Tiles </a>
												</li>
												<li>
													<a href="javascript:;">
														<i class="fa fa-angle-right"></i>
														Date Paginator </a>
												</li>
												<li>
													<a href="javascript:;">
														<i class="fa fa-angle-right"></i>
														Nestable List </a>
												</li>
											</ul>
										</div>
										<div class="col-md-3">
											<ul class="mega-menu-submenu">
												<li>
													<h3>Form Stuff</h3>
												</li>
												<li>
													<a href="javascript:;">
														<i class="fa fa-angle-right"></i>
														Form Controls </a>
												</li>
												<li>
													<a href="javascript:;">
														<i class="fa fa-angle-right"></i>
														iCheck Controls </a>
												</li>
												<li>
													<a href="javascript:;">
														<i class="fa fa-angle-right"></i>
														Form Layouts </a>
												</li>
												<li>
													<a href="javascript:;">
														<i class="fa fa-angle-right"></i>
														Form X-editable
														<span class="badge badge-roundless badge-success">new</span>
													</a>
												</li>
												<li>
													<a href="javascript:;">
														<i class="fa fa-angle-right"></i>
														Form Wizard </a>
												</li>
												<li>
													<a href="javascript:;">
														<i class="fa fa-angle-right"></i>
														Form Validation </a>
												</li>
												<li>
													<a href="javascript:;">
														<i class="fa fa-angle-right"></i>
														Image Cropping </a>
												</li>
												<li>
													<a href="javascript:;">
														<i class="fa fa-angle-right"></i>
														Multiple File Upload </a>
												</li>
												<li>
													<a href="javascript:;">
														<i class="fa fa-angle-right"></i>
														Dropzone File Upload </a>
												</li>
											</ul>
										</div>
										<div class="col-md-3">
											<ul class="mega-menu-submenu">
												<li>
													<h3>Form Components</h3>
												</li>
												<li>
													<a href="javascript:;">
														<i class="fa fa-angle-right"></i>
														Date &amp; Time Pickers </a>
												</li>
												<li>
													<a href="javascript:;">
														<i class="fa fa-angle-right"></i>
														Context Menu </a>
												</li>
												<li>
													<a href="javascript:;">
														<i class="fa fa-angle-right"></i>
														Custom Dropdowns </a>
												</li>
												<li>
													<a href="javascript:;">
														<i class="fa fa-angle-right"></i>
														Form Widgets &amp; Tools </a>
												</li>
												<li>
													<a href="javascript:;">
														<i class="fa fa-angle-right"></i>
														Form Widgets &amp; Tools 2 </a>
												</li>
												<li>
													<a href="javascript:;">
														<i class="fa fa-angle-right"></i>
														Markdown &amp; WYSIWYG Editors </a>
												</li>
												<li>
													<a href="javascript:;">
														<i class="fa fa-angle-right"></i>
														Ion Range Sliders </a>
												</li>
												<li>
													<a href="javascript:;">
														<i class="fa fa-angle-right"></i>
														NoUI Range Sliders </a>
												</li>
												<li>
													<a href="javascript:;">
														<i class="fa fa-angle-right"></i>
														jQuery UI Sliders </a>
												</li>
												<li>
													<a href="javascript:;">
														<i class="fa fa-angle-right"></i>
														Knob Circle Dials </a>
												</li>
											</ul>
										</div>
									</div>
								</div>
							</li>
						</ul> -->
					</li>
					<li [routerLinkActive]="['active']" >
						<a [routerLink]="['/admin/alumini']" >
							Alumini
						</a>
						<!-- <ul class="dropdown-menu hide">
							<li>
								<div class="mega-menu-content">
									<div class="row">
										<div class="col-md-3">
											<ul class="mega-menu-submenu">
												<li>
													<h3>User Pages</h3>
												</li>
												<li>
													<a href="javascript:;">
														<i class="fa fa-angle-right"></i>
														New Timeline
														<span class="badge badge-warning">2</span>
													</a>
												</li>
												<li>
													<a href="javascript:;">
														<i class="fa fa-angle-right"></i>
														New User Profile
														<span class="badge badge-success badge-roundless">new</span>
													</a>
												</li>
												<li>
													<a href="javascript:;">
														<i class="fa fa-angle-right"></i>
														Todo &amp; Tasks
														<span class="badge badge-danger">4</span>
													</a>
												</li>
												<li>
													<a href="javascript:;">
														<i class="fa fa-angle-right"></i>
														User Inbox
														<span class="badge badge-success">4</span>
													</a>
												</li>
												<li>
													<a href="javascript:;">
														<i class="fa fa-angle-right"></i>
														User Calendar
														<span class="badge badge-warning">14</span>
													</a>
												</li>
												<li>
													<a href="javascript:;">
														<i class="fa fa-angle-right"></i>
														Old Timeline
														<span class="badge badge-warning">2</span>
													</a>
												</li>
												<li>
													<a href="javascript:;">
														<i class="fa fa-angle-right"></i>
														Old User Profile </a>
												</li>
											</ul>
										</div>
										<div class="col-md-3">
											<ul class="mega-menu-submenu">
												<li>
													<h3>General Pages</h3>
												</li>
												<li>
													<a href="javascript:;">
														<i class="fa fa-angle-right"></i>
														FAQ Page </a>
												</li>
												<li>
													<a href="javascript:;">
														<i class="fa fa-angle-right"></i>
														Portfolio </a>
												</li>
												<li>
													<a href="javascript:;">
														<i class="fa fa-angle-right"></i>
														Timeline
														<span class="badge badge-info">4</span>
													</a>
												</li>
												<li>
													<a href="javascript:;">
														<i class="fa fa-angle-right"></i>
														Coming Soon </a>
												</li>
												<li>
													<a href="javascript:;">
														<i class="fa fa-angle-right"></i>
														Invoice </a>
												</li>
												<li>
													<a href="javascript:;">
														<i class="fa fa-angle-right"></i>
														Blog </a>
												</li>
												<li>
													<a href="javascript:;">
														<i class="fa fa-angle-right"></i>
														Blog Post </a>
												</li>
											</ul>
										</div>
										<div class="col-md-3">
											<ul class="mega-menu-submenu">
												<li>
													<h3>Custom Pages</h3>
												</li>
												<li>
													<a href="javascript:;">
														<i class="fa fa-angle-right"></i>
														News
														<span class="badge badge-success">9</span>
													</a>
												</li>
												<li>
													<a href="javascript:;">
														<i class="fa fa-angle-right"></i>
														News View </a>
												</li>
												<li>
													<a href="javascript:;">
														<i class="fa fa-angle-right"></i>
														About Us </a>
												</li>
												<li>
													<a href="javascript:;">
														<i class="fa fa-angle-right"></i>
														Contact Us </a>
												</li>
												<li>
													<a href="javascript:;">
														<i class="fa fa-angle-right"></i>
														Search Results </a>
												</li>
												<li>
													<a href="javascript:;">
														<i class="fa fa-angle-right"></i>
														Pricing Tables </a>
												</li>
												<li>
													<a href="javascript:;">
														<i class="fa fa-angle-right"></i>
														Login Form 1 </a>
												</li>
												<li>
													<a href="javascript:;">
														<i class="fa fa-angle-right"></i>
														Login Form 2 </a>
												</li>
												<li>
													<a href="javascript:;">
														<i class="fa fa-angle-right"></i>
														Login Form 3 </a>
												</li>
												<li>
													<a href="javascript:;">
														<i class="fa fa-angle-right"></i>
														Login Form 4 </a>
												</li>
											</ul>
										</div>
										<div class="col-md-3">
											<ul class="mega-menu-submenu">
												<li>
													<h3>Miscellaneous</h3>
												</li>
												<li>
													<a href="javascript:;">
														<i class="fa fa-angle-right"></i>
														Lock Screen 1 </a>
												</li>
												<li>
													<a href="javascript:;">
														<i class="fa fa-angle-right"></i>
														Lock Screen 2 </a>
												</li>
												<li>
													<a href="javascript:;">
														<i class="fa fa-angle-right"></i>
														404 Page Option 1 </a>
												</li>
												<li>
													<a href="javascript:;">
														<i class="fa fa-angle-right"></i>
														404 Page Option 2 </a>
												</li>
												<li>
													<a href="javascript:;">
														<i class="fa fa-angle-right"></i>
														404 Page Option 3 </a>
												</li>
												<li>
													<a href="javascript:;">
														<i class="fa fa-angle-right"></i>
														500 Page Option 1 </a>
												</li>
												<li>
													<a href="javascript:;">
														<i class="fa fa-angle-right"></i>
														500 Page Option 2 </a>
												</li>
												<li>
													<a href="javascript:;" target="_blank">
														<i class="fa fa-angle-right"></i>
														New Email Template 1 </a>
												</li>
												<li>
													<a href="javascript:;" target="_blank">
														<i class="fa fa-angle-right"></i>
														New Email Template 2 </a>
												</li>
												<li>
													<a href="javascript:;" target="_blank">
														<i class="fa fa-angle-right"></i>
														New Email Template 3 </a>
												</li>
												<li>
													<a href="javascript:;" target="_blank">
														<i class="fa fa-angle-right"></i>
														New Email Template 4 </a>
												</li>
												<li>
													<a href="javascript:;" target="_blank">
														<i class="fa fa-angle-right"></i>
														Old Email Template 1 </a>
												</li>
												<li>
													<a href="javascript:;" target="_blank">
														<i class="fa fa-angle-right"></i>
														Old Email Template 2 </a>
												</li>
											</ul>
										</div>
									</div>
								</div>
							</li>
						</ul> -->
					</li>
					<li [routerLinkActive]="['active']">
						<a [routerLink]="['/admin/culture']">
							Culture </a>
					</li>
				</ul>
			</div>
			<!-- END MEGA MENU -->
		</div>
	</div>
	<!-- END HEADER MENU -->
</div>
<div class="col-lg-12">
	<router-outlet></router-outlet>
</div>