<div class="login">
  <!-- BEGIN SIDEBAR TOGGLER BUTTON -->
  <div class="menu-toggler sidebar-toggler">
  </div>
  <!-- END SIDEBAR TOGGLER BUTTON -->
  <!-- BEGIN LOGO -->
  <div class="logo">
    <a href="index.html">
      <img src="../../assets/theme/assets/admin/layout3/img/om_dark.png" alt="option Matrix" class="img img-responsive" style="height: 100px;"/>
    </a>
  </div>
  <!-- END LOGO -->
  <!-- BEGIN LOGIN -->
  <div class="content">
    <!-- BEGIN FORGOT PASSWORD FORM -->
    <form class="login-form" [formGroup]="ForgotpwForm">
      <h3>Forget Password ?</h3>
      <p>
        Enter your e-mail address below to reset your password.
      </p>
      <div class="form-group">
          <mat-form-field class="example-full-width">
              <input matInput formControlName="email" type="text" autocomplete="off" name="email">
              <mat-placeholder class="placeholder">Email</mat-placeholder>
            </mat-form-field>
        <!-- <input class="form-control placeholder-no-fix" type="text" autocomplete="off" placeholder="Email" name="email" /> -->
      </div>
      <div class="form-actions">
        <button [routerLink]="['/login']" id="back-btn" class="btn btn-default">Back</button>
        <button type="submit" class="btn btn-success uppercase pull-right">Submit</button>
      </div>
    </form>
    <!-- END FORGOT PASSWORD FORM -->
  </div>


  <div class="copyright">
    2018 © HR - RSFAC. Option Matrix.
  </div>
</div>