

<!-- BEGIN PAGE CONTENT INNER -->
<div class="portlet light">
    <div class="portlet-body">
        <div class="row">

            <div class="col-md-3">
                <ul class="ver-inline-menu tabbable margin-bottom-10">
                    <li  [routerLinkActive]="['active']">
                        <a [routerLink]="['manage-applicants']" >
                            <i class="fa fa-plus"></i>Applicants</a>
                        <span class="after">
                        </span>
                    </li>
                    <li [routerLinkActive]="['active']">
                        <a [routerLink]="['manage-jobs']">
                            <i class="fa fa-plus"></i>Jobs </a>
                    </li>
                </ul>
            </div>

            <div class="col-md-9">
                <router-outlet></router-outlet>
            </div>

        </div>
    </div>
</div>
<!-- END PAGE CONTENT INNER -->