<!-- BEGIN PAGE CONTENT INNER -->
<div class="portlet light">
    <div class="portlet-body">
        <div class="row">
            <div class="col-sm-12" style="margin-top:10px;">
                <nav>
                    <ul class="nav navbar-nav">
                        <li [routerLinkActive]="['active']"><a [routerLink]="['manage-applicants']">Manage Applicants</a></li>
                        <li [routerLinkActive]="['active']"><a [routerLink]="['manage-jobs']">Manage Jobs</a></li>
                    </ul>
                </nav>

                
            </div>

        </div>
        <div class="row">
            <div class="col-sm-12" style="margin-top:10px;">
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
</div>
<!-- END PAGE CONTENT INNER -->