<div class="col-sm-offset-1 col-sm-2">

  <div class="timeline">
    <div class="cont right">
      <div class="content">
        <h2>Stage 1</h2>
        <p>Lorem ipsum dolor sit amet, quo ei simul congue exerci, ad nec admodum perfecto mnesarchum, vim ea mazim fierent
          detracto.
        </p>
      </div>
    </div>
    <div class="cont right">
      <div class="content">
        <h2>Stage 2</h2>
        <p>Lorem ipsum dolor sit amet, quo ei simul congue exerci, ad nec admodum perfecto mnesarchum, vim ea mazim fierent
          detracto.
        </p>
      </div>
    </div>
    <div class="cont right">
      <div class="content">
        <h2>Stage 3</h2>
        <p>Lorem ipsum dolor sit amet, quo ei simul congue exerci, ad nec admodum perfecto mnesarchum, vim ea mazim fierent
          detracto.
        </p>
      </div>
    </div>

  </div>

</div>


<div class="col-sm-9">
  <div class="col-sm-12 hide" style="background:#526781;">
    <div class="col-sm-3">
      <span>Ritche Gold</span>
    </div>
  </div>


  <div _ngcontent-c2="" class="col-sm-12">
    <div _ngcontent-c2="" class="row header-section col-xs-12" style="background:#526781; margin:10px 0 20px;padding:0;">
      <a _ngcontent-c2="" aria-expanded="false" class="btn blue-hoki text-left bigDropDown col-xs-3 col-sm-3" data-close-others="true"
        data-target="#user_location_date_modal" data-toggle="modal" href="#" id="header_top_filter" s="" style="color:#FFF!important;">
        <div _ngcontent-c2="" class="col-xs-12 col-lg-12">
          <span _ngcontent-c2="" class="text-xlg text-semibold" id="user" style="text-transform:uppercase;">Praveen Singh</span>
          <br _ngcontent-c2="" class="">
          <span _ngcontent-c2="" id="job">12 Jobs</span> ·
          <span _ngcontent-c2="" id="date"> Last 30 Days </span>
        </div>
      </a>
      <div _ngcontent-c2="" class="col-xs-9 col-sm-9">
        <div _ngcontent-c2="" class="">
          <a _ngcontent-c2="" class="btn  btn-transparent dealer-summary-block green-jungle text-center sales-dashboard-btn col-xs-2"
            id="fax" onclick="get_sales_dashboard_list('Fax','todo',7);">
            <div _ngcontent-c2="" class="count text-semibold" id="fax_count_div" style="text-transform:uppercase;color:#FFF !important;">5</div>
            <div _ngcontent-c2="" class="title" style="color:#FFF !important;">Applied Jobs</div>
          </a>
          <a _ngcontent-c2="" class="btn btn-transparent dealer-summary-block green-jungle text-center sales-dashboard-btn col-xs-2"
            id="appointments" onclick="get_sales_dashboard_list('Appointments','todo',7);">
            <div _ngcontent-c2="" class="count text-semibold" style="color:#FFF !important;">4</div>
            <div _ngcontent-c2="" class="title" style="color:#FFF !important;">Appointments</div>
          </a>
          <a _ngcontent-c2="" class="btn  btn-transparent dealer-summary-block green-jungle text-center sales-dashboard-btn col-xs-2"
            id="emails" onclick="get_sales_dashboard_list('Emails','todo',7);">
            <div _ngcontent-c2="" class="count text-semibold" style="text-transform:uppercase;color:#FFF !important;">24</div>
            <div _ngcontent-c2="" class="title" style="color:#FFF !important;">Messages</div>
          </a>
          <a _ngcontent-c2="" class="btn  btn-transparent dealer-summary-block green-jungle text-center sales-dashboard-btn col-xs-2"
            id="hired" onclick="get_sales_dashboard_list('Hired','todo',7);" style="width:12%">
            <div _ngcontent-c2="" class="count text-semibold" style="text-transform:uppercase;color:#FFF !important;">09-Jul-2018</div>
            <div _ngcontent-c2="" class="title" style="color:#FFF !important;">Last Updated</div>
          </a>
          <a _ngcontent-c2="" class="btn-transparent dealer-summary-block green-jungle text-center sales-dashboard-btn col-xs-2"
            id="hired" style="float:right;margin-top: 10px;">
            <div _ngcontent-c2="" class=" btn btn-success" style=" float: right;">FILTER</div>
          </a>
        </div>
      </div>
    </div>
  </div>
  <!--End of filter -->

  <!-- start of table -->
  <div class="col-sm-12 table-responsive">
    <div class=" form-inline no-footer no-border" id="tasks_grid_wrapper" role="grid">
      <table id="tasks_grid" class="table no-footer table-border border" cellspacing="0" cellpadding="0" border="0" aria-describedby="tasks_grid_info">
        <thead>
          <tr role="row" class="md-table-head  bold grid-row">
            <td id="0" colspan="1" rowspan="1" aria-controls="tasks_grid" tabindex="0" class="sorting">Activity</td>
            <td id="1" colspan="1" rowspan="1" aria-controls="tasks_grid" tabindex="0" class="sorting">Completed Date</td>
            <td id="2" colspan="1" rowspan="1" aria-controls="tasks_grid" tabindex="0" class="sorting">Description</td>
            <td id="3" colspan="1" rowspan="1" aria-controls="tasks_grid" tabindex="0" class="sorting">Employer</td>
            <td id="4" colspan="1" rowspan="1" aria-controls="tasks_grid" tabindex="0" class="sorting">Recruiter</td>
            <td id="5" colspan="1" rowspan="1" aria-controls="tasks_grid" tabindex="0" class="sorting">Job</td>
          </tr>
        </thead>
        <tbody>
          <tr role="row" class="md-table-head  grid-row no-border">
            <td>Appointment</td>
            <td>25-May-2018</td>
            <td>Appointment with HR</td>
            <td>Deloitte</td>
            <td>Mathew Hayden</td>
            <td>Security Manager</td>
          </tr>

          <tr role="row" class="md-table-head  grid-row no-border">
            <td>Documents Submissions</td>
            <td>25-Apr-2018</td>
            <td>Please submit the documents</td>
            <td>Apple</td>
            <td>Andrew Strauss</td>
            <td>Consultant Manager</td>
          </tr>

          <tr role="row" class="md-table-head  grid-row no-border">
            <td>Appointment</td>
            <td>02-July-2018</td>
            <td>Appointment with Manager</td>
            <td>Amazon</td>
            <td>Kevin Peterson</td>
            <td>Project Manager</td>
          </tr>

          <tr role="row" class="md-table-head  grid-row no-border">
            <td>Interview</td>
            <td>15-July-2018</td>
            <td>Interview with Technical Manager</td>
            <td>Option Matrix</td>
            <td>Andrew Hall</td>
            <td>Sr. Developer</td>
          </tr>

          <tr role="row" class="md-table-head  grid-row no-border">
            <td>Documents Submission</td>
            <td>18-July-2018</td>
            <td>Need documents</td>
            <td>Apple</td>
            <td>Adam Gilchrist</td>
            <td>Senior Accountant</td>
          </tr>

          <tr role="row" class="md-table-head  grid-row no-border">
            <td>Appointment</td>
            <td>25-May-2018</td>
            <td>Appointment with HR</td>
            <td>Deloitte</td>
            <td>Mathew Hayden</td>
            <td>Security Manager</td>
          </tr>

        </tbody>
      </table>
    </div>
  </div>
</div>