@import "~angular-vertical-timeline/dist/vertical-timeline.css";


/* @import "~@angular/material/prebuilt-themes/deeppurple-amber.css"; */

@import "testing.css";

.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
  }

/* testoing 1 1 1 1 1 1 */
.login .logo {
    margin: 0 auto;
    margin-top: 0px !important;
    padding: 15px;
    text-align: center;
}

.login .copyright {
    text-align: center;
    margin: 0 auto 0px 0  !important;
    padding: 10px;
    color: #7a8ca5;
    font-size: 13px;
}

body{
    background-color:white;
}
.login{
    padding: 0px;
    margin: 0px;
    background: #fff !important;
}
thead{
    background: #428bca !important;
    color: #fff;
}
.red{
    color: red;
}


/*Bread crumbs start */
.header-new-main {
    margin-top: 10px;
    min-height: 50px;
    background: #ddd;
    padding: 9px 20px 8px 0px;
    overflow-y: hidden;
}

.header-icon-band {
    background: #158AC9;
    color: white;
}

.header-icon-band {
    padding: 15px;
    /* background: #ff8c00; */
    bottom: 0;
    float: left;
    position: absolute;
    top: 0;
    left: 0;
}

.sub-header-new {
    float: left;
    margin-left: 60px;
    margin-bottom: 9px;
    margin-top: 9px;
    font-family: wf_segoe-ui_normal, "Segoe UI", "Segoe WP", Tahoma, Arial, sans-serif;
    color: #000;
    font-weight: 400;
    line-height: 1.5em;
}

/* Bread crumbs css end */

html, body { height: 100%; }
body { margin: 0; font-family: 'Roboto', sans-serif; }


/*modal allignment of text*/
.modalign{
    padding: 16px;
    text-align: center;
}
.icon-band{
    margin-top: 5px;
    font-size: 25px;
}

.box_shadow{
    box-shadow: 2px 2px 20px 2px #a0a0a0;
}
.m-tb-20{
    margin: 20px 0px 25px 0px;
}
hr {
    margin: 12px 0;
    border: 0;
    border-top: 1px solid #c0c0c0;
    border-bottom: 0;
}
.margin-top-15{
    margin-top:15px;
}
.margin-top-bottom-25{
    margin-bottom: 25px;
    margin-top: 25px;
}

.color-black{
    color: black
}

.red{
    color: red;
}

.modal-footer{
    text-align: center !important;
}
.delete-modal
{
    text-align:Left !important;
}

body{
    font-family: sans-serif !important;
}