<!-- Bread crumb-->
<div class="col-xs-12 margin-bottom-20 header-new-main">
    <span class="header-icon-band">
        <i class="fa fa-file-text-o icon-band"></i>
    </span>
    <p class="sub-header-new">This page is used to manage Users.</p>
</div>
<!--End f bread crumb -->
<!--Add and Filter BUTTON START-->

<!--Add and Filter BUTTON END-->
<!--DATATABLE START-->
<div class="">
    <div class="col-xs-12 panel-0">
        <div class="row">
            <div class="box">
                <!-- /.box-header -->
                <div class="box-body table-responsive">
                    <table id="example2" class="table table-bordered table-hover">
                        <thead>
                            <tr class="tr-grid-header">
                                <th>Name</th>
                                <th>Email</th>
                                <th>Phone</th>
                                <th>Permissions</th>
                                <th style="text-align: center;">Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Kalyan Kurasala</td>
                                <td>Kalyan@gmail.com</td>
                                <td>9441768216</td>
                                <td><a>2/10</a></td>
                                <td style="text-align: center">
                                    <!-- <a style="margin-right: 10px; cursor: pointer; vertical-align: text-bottom;" title="send mail">
                                    <i class="fa fa-envelope"></i>
                                </a> -->
                                    <a title="Edit Consultant" style="margin-right: 10px; cursor: pointer;" (click)="fnAddUserModal(1)">
                                        <i class="fa fa-edit"></i>
                                    </a>
                                    <a (click)="fnUserDeleteModal(1)">
                                        <i style="cursor: pointer;" title="Delete Consultant" class="fa fa-trash red"></i>
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
        </div>
    </div>
</div>
<!--DATA TABLE END-->

<!--USER MODAL START two colum layout -->
<div class="modal fade" bsModal #addUserModal="bs-modal" [config]="{backdrop: 'static'}" role="dialog">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <span class="modal-title">
                    <b style="font-size:17px">User</b>
                </span>
                <span>
                    <a class="pull-right  color-black" (click)="fnAddUserModal(0)"><i class="fa fa-times" aria-hidden="true"></i></a>
                </span>
            </div>
            <div class="modal-body">
                <div class="modal-body  container-fluid">
                    <form [formGroup]="userAddEditForm" class="col-lg-12">
                        <div class="form-group col-lg-6">
                            <div class="col-lg-12">
                                <mat-form-field class="example-full-width">
                                    <input matInput formControlName="username" type="text" autocomplete="off" formControlName="vcName">
                                    <mat-placeholder class="placeholder">User Name</mat-placeholder>
                                </mat-form-field>
                                <!-- <input type="text" class="form-control" formControlName="vcName" placeholder="Applicant Name" /> -->
                            </div>
                        </div>
                        <div class="form-group col-lg-6">
                            <div class="col-lg-12">
                                <!-- <mat-form-field class="example-full-width">
                                    <input matInput formControlName="username" type="Date" autocomplete="off" formControlName="dtUpdated">
                                    <mat-placeholder class="placeholder">Date Of birth</mat-placeholder>
                                </mat-form-field> -->
                                <!-- <input type="text" class="form-control" formControlName="dtUpdated" placeholder="Updated" /> -->
                                <mat-form-field>
                                    <input matInput [matDatepicker]="picker" placeholder="Date Of Birth">
                                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                    <mat-datepicker #picker></mat-datepicker>
                                </mat-form-field>

                            </div>
                        </div>
                        <div class="form-group col-lg-6">
                            <div class="col-lg-12">
                                <mat-form-field class="example-full-width">
                                    <input matInput formControlName="username" type="text" autocomplete="off" formControlName="dtUpdated">
                                    <mat-placeholder class="placeholder">Current Employer</mat-placeholder>
                                </mat-form-field>
                                <!-- <input type="text" class="form-control" formControlName="dtUpdated" placeholder="Updated" /> -->
                            </div>
                        </div>
                        <div class="form-group col-lg-6">
                            <div class="col-lg-12">
                                <mat-form-field class="example-full-width">
                                    <input matInput formControlName="username" type="text" autocomplete="off" formControlName="dtUpdated">
                                    <mat-placeholder class="placeholder">Position</mat-placeholder>
                                </mat-form-field>
                                <!-- <input type="text" class="form-control" formControlName="dtUpdated" placeholder="Updated" /> -->
                            </div>
                        </div>
                        <div class="form-group col-lg-6">
                            <div class="col-lg-12">
                                <mat-form-field class="example-full-width">
                                    <input matInput formControlName="username" type="text" autocomplete="off" formControlName="vcExperience">
                                    <mat-placeholder class="placeholder">Experience (Years)</mat-placeholder>
                                </mat-form-field>
                                <!-- <input type="text" class="form-control" formControlName="vcExperience" placeholder="Experience (Years)" /> -->
                            </div>
                        </div>
                        <div class="form-group col-lg-6">
                            <div class="col-lg-12">
                                <mat-form-field class="example-full-width">
                                    <input matInput formControlName="username" type="text" autocomplete="off" formControlName="vcPhone">
                                    <mat-placeholder class="placeholder">Phone</mat-placeholder>
                                </mat-form-field>
                                <!-- <input type="text" class="form-control" formControlName="vcPhone" placeholder="Phone" /> -->
                            </div>
                        </div>

                        <div class="form-group col-lg-6">
                            <div class="col-lg-12">
                                <mat-form-field class="example-full-width">
                                    <input matInput formControlName="username" type="text" autocomplete="off" formControlName="vcCategory">
                                    <mat-placeholder class="placeholder">Skills</mat-placeholder>
                                </mat-form-field>
                                <!-- <input type="text" class="form-control" formControlName="vcCategory" placeholder="Category" /> -->
                            </div>
                        </div>


                        <div class="form-group col-lg-6" style="margin-top: 5px;">
                            <div class="col-lg-12">
                                <input type="file" class="form-control" style="font-size: 12px;" formControlName="vcResumePath" placeholder="Resume" />
                            </div>
                        </div>

                    </form>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" (click)="fnAddUserModal(0)">Save</button>
                <button type="button" class="btn btn-default" (click)="fnAddUserModal(0)">Close</button>
            </div>
        </div>
    </div>
</div>
<!--APPLICANT MODAL END two column layout-->

<!--DELETE MODAL START-->
<div class="modal fade" bsModal #deleteUserModal="bs-modal" [config]="{backdrop: 'static'}" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <span class="modal-title">
                    <b style="font-size:17px">Delete User</b>
                </span>
                <span><a class="pull-right color-black" (click)="fnUserDeleteModal(0)"><i class="fa fa-times" aria-hidden="true"></i></a>
                </span>
            </div>
            <div class="modal-body  container-fluid">
                <p> &nbsp;&nbsp; Are you sure you want to delete?</p>
            </div>
            <div class="modal-footer delete-modal">
                <button type="submit" class="btn btn-success" (click)="fnUserDeleteModal(0)">Confirm</button>
                <button type="button" class="btn btn-default" (click)="fnUserDeleteModal(0)">Cancel</button>
            </div>
        </div>
    </div>
</div>
<!--DELETE MODAL END-->