<div class="col-sm-12">

  <!-- Bread crumb-->
  <div class="col-sm-12">
    <div class="col-sm-12 margin-bottom-20 header-new-main">
      <span class="header-icon-band">
        <i class="fa fa-file-text-o icon-band"></i>
      </span>
      <p class="sub-header-new">This page Indicates the overall Statistics of the Company.</p>
    </div>
  </div>
  <!--End f bread crumb -->

  <div class="col-sm-12">
    <tabset>
      <tab heading="User Details" id="tab1">
        <div class="col-sm-12 tab-content">
          <div class="card-body">
            <div class="view-info ng-tns-c8-20">
              <div class="row">
                <div class="col-lg-12">
                  <div class="general-info">
                    <div class="row">
                      <div class="col-lg-6 col-xl-6">
                        <div class="table-responsive">
                          <table class="table m-0">
                            <tbody class="ng-tns-c8-20">
                              <tr class="ng-tns-c8-20">
                                <th class="ng-tns-c8-20" scope="row">Full Name</th>
                                <td class="ng-tns-c8-20">Josephine Villa</td>
                              </tr>
                              <tr class="ng-tns-c8-20">
                                <th class="ng-tns-c8-20" scope="row">Gender</th>
                                <td class="ng-tns-c8-20">Female</td>
                              </tr>
                              <tr class="ng-tns-c8-20">
                                <th class="ng-tns-c8-20" scope="row">Birth Date</th>
                                <td class="ng-tns-c8-20">October 25th, 1990</td>
                              </tr>
                              <tr class="ng-tns-c8-20">
                                <th class="ng-tns-c8-20" scope="row">Marital Status</th>
                                <td class="ng-tns-c8-20">Single</td>
                              </tr>
                              <tr class="ng-tns-c8-20">
                                <th class="ng-tns-c8-20" scope="row">Location</th>
                                <td class="ng-tns-c8-20">New York, USA</td>
                              </tr>
                            </tbody>
                          </table>
                        </div>
                      </div>

                      <div class="col-lg-6 col-xl-6">
                        <div class="table-responsive">
                          <table class="table">
                            <tbody class="ng-tns-c8-20">
                              <tr class="ng-tns-c8-20">
                                <th class="ng-tns-c8-20" scope="row">Email</th>
                                <td class="ng-tns-c8-20">
                                  <a class="ng-tns-c8-20" href="javascript:;">Demo@phenix.com</a>
                                </td>
                              </tr>
                              <tr class="ng-tns-c8-20">
                                <th class="ng-tns-c8-20" scope="row">Mobile Number</th>
                                <td class="ng-tns-c8-20">(0123) - 4567891</td>
                              </tr>
                              <tr class="ng-tns-c8-20">
                                <th class="ng-tns-c8-20" scope="row">Twitter</th>
                                <td class="ng-tns-c8-20">@codedthemes</td>
                              </tr>
                              <tr class="ng-tns-c8-20">
                                <th class="ng-tns-c8-20" scope="row">Skype</th>
                                <td class="ng-tns-c8-20">codedthemes.demo</td>
                              </tr>
                              <tr class="ng-tns-c8-20">
                                <th class="ng-tns-c8-20" scope="row">Website</th>
                                <td class="ng-tns-c8-20">
                                  <a class="ng-tns-c8-20" href="javascript:;">www.demo.com</a>
                                </td>
                              </tr>
                            </tbody>
                          </table>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </tab>
      <tab heading="Basic Title 1">

          <div class="tab-content">
              <!--bindings={
          "ng-reflect-ng-for-of": "[object Object],[object Object"
        }-->
                <!--bindings={
          "ng-reflect-ng-if": "false"
        }-->
              
                <!--bindings={
          "ng-reflect-ng-if": "false"
        }-->
              
                <!--bindings={
          "ng-reflect-ng-if": "false"
        }-->
              
                <!--bindings={
          "ng-reflect-ng-if": "true"
        }--><div role="tabpanel" class="tab-pane active" aria-labelledby="ngb-tab-3" id="ngb-tab-3-panel" aria-expanded="true">
                  <!--bindings={
          "ng-reflect-ng-template-outlet": "[object Object]"
        }-->
                    <div _ngcontent-c8="" class="m-t-15 ng-tns-c8-20 ng-trigger ng-trigger-fadeInOutTranslate">
                      <div _ngcontent-c8="" class="card">
                        <div _ngcontent-c8="" class="card-header">
                          <h5 _ngcontent-c8="" class="card-header-text">Review</h5>
                        </div>
                        <div _ngcontent-c8="" class="card-body">
                          <ul _ngcontent-c8="" class="media-list">
                            <li _ngcontent-c8="" class="media">
                              <div _ngcontent-c8="" class="media-left">
                                <a _ngcontent-c8="" class="ng-tns-c8-20" href="javascript:;">
                                  <img _ngcontent-c8="" class="media-object img-circle comment-img" alt="Generic placeholder image" src="assets/images/avatar-1.jpg">
                                </a>
                              </div>
                              <div _ngcontent-c8="" class="media-body">
                                <h6 _ngcontent-c8="" class="media-heading">Sortino media<span _ngcontent-c8="" class="f-12 text-muted m-l-5">Just now</span></h6>
                                <div _ngcontent-c8="" class="stars-example-css review-star">
                                  <i _ngcontent-c8="" class="icofont icofont-star"></i>
                                  <i _ngcontent-c8="" class="icofont icofont-star"></i>
                                  <i _ngcontent-c8="" class="icofont icofont-star"></i>
                                  <i _ngcontent-c8="" class="icofont icofont-star"></i>
                                  <i _ngcontent-c8="" class="icofont icofont-star"></i>
                                </div>
                                <p _ngcontent-c8="" class="m-b-0">Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis.</p>
                                <div _ngcontent-c8="" class="m-b-25">
                                  <span _ngcontent-c8="" class="ng-tns-c8-20"><a _ngcontent-c8="" class="m-r-10 f-12" href="javascript:;">Reply</a></span><span _ngcontent-c8="" class="ng-tns-c8-20"><a _ngcontent-c8="" class="f-12" href="javascript:;">Edit</a> </span>
                                </div>
                                <hr _ngcontent-c8="" class="ng-tns-c8-20">
                                
                                <div _ngcontent-c8="" class="media mt-2">
                                  <a _ngcontent-c8="" class="media-left" href="javascript:;">
                                    <img _ngcontent-c8="" class="media-object img-circle comment-img" alt="Generic placeholder image" src="assets/images/avatar-2.jpg">
                                  </a>
                                  <div _ngcontent-c8="" class="media-body">
                                    <h6 _ngcontent-c8="" class="media-heading">Larry heading <span _ngcontent-c8="" class="f-12 text-muted m-l-5">Just now</span></h6>
                                    <div _ngcontent-c8="" class="stars-example-css review-star">
                                      <i _ngcontent-c8="" class="icofont icofont-star"></i>
                                      <i _ngcontent-c8="" class="icofont icofont-star"></i>
                                      <i _ngcontent-c8="" class="icofont icofont-star"></i>
                                      <i _ngcontent-c8="" class="icofont icofont-star"></i>
                                      <i _ngcontent-c8="" class="icofont icofont-star"></i>
                                    </div>
                                    <p _ngcontent-c8="" class="m-b-0"> Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis.</p>
                                    <div _ngcontent-c8="" class="m-b-25">
                                      <span _ngcontent-c8="" class="ng-tns-c8-20"><a _ngcontent-c8="" class="m-r-10 f-12" href="javascript:;">Reply</a></span><span _ngcontent-c8="" class="ng-tns-c8-20"><a _ngcontent-c8="" class="f-12" href="javascript:;">Edit</a> </span>
                                    </div>
                                    <hr _ngcontent-c8="" class="ng-tns-c8-20">
        
                                  </div>
                                </div>
        
                              </div>
                            </li>
                            
                            <div _ngcontent-c8="" class="media mt-2">
                              <div _ngcontent-c8="" class="media-left">
                                <a _ngcontent-c8="" class="ng-tns-c8-20" href="javascript:;">
                                  <img _ngcontent-c8="" class="media-object img-circle comment-img" alt="Generic placeholder image" src="assets/images/avatar-1.jpg">
                                </a>
                              </div>
                              <div _ngcontent-c8="" class="media-body">
                                <h6 _ngcontent-c8="" class="media-heading">Cedric Kelly<span _ngcontent-c8="" class="f-12 text-muted m-l-5">Just now</span></h6>
                                <div _ngcontent-c8="" class="stars-example-css review-star">
                                  <i _ngcontent-c8="" class="icofont icofont-star"></i>
                                  <i _ngcontent-c8="" class="icofont icofont-star"></i>
                                  <i _ngcontent-c8="" class="icofont icofont-star"></i>
                                  <i _ngcontent-c8="" class="icofont icofont-star"></i>
                                  <i _ngcontent-c8="" class="icofont icofont-star"></i>
                                </div>
                                <p _ngcontent-c8="" class="m-b-0">Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis.</p>
                                <div _ngcontent-c8="" class="m-b-25">
                                  <span _ngcontent-c8="" class="ng-tns-c8-20"><a _ngcontent-c8="" class="m-r-10 f-12" href="javascript:;">Reply</a></span><span _ngcontent-c8="" class="ng-tns-c8-20"><a _ngcontent-c8="" class="f-12" href="javascript:;">Edit</a> </span>
                                </div>
                                <hr _ngcontent-c8="" class="ng-tns-c8-20">
                              </div>
                            </div>
                            <div _ngcontent-c8="" class="media mt-2">
                              <a _ngcontent-c8="" class="media-left" href="javascript:;">
                                <img _ngcontent-c8="" class="media-object img-circle comment-img" alt="Generic placeholder image" src="assets/images/avatar-4.jpg">
                              </a>
                              <div _ngcontent-c8="" class="media-body">
                                <h6 _ngcontent-c8="" class="media-heading">Larry heading <span _ngcontent-c8="" class="f-12 text-muted m-l-5">Just now</span></h6>
                                <div _ngcontent-c8="" class="stars-example-css review-star">
                                  <i _ngcontent-c8="" class="icofont icofont-star"></i>
                                  <i _ngcontent-c8="" class="icofont icofont-star"></i>
                                  <i _ngcontent-c8="" class="icofont icofont-star"></i>
                                  <i _ngcontent-c8="" class="icofont icofont-star"></i>
                                  <i _ngcontent-c8="" class="icofont icofont-star"></i>
                                </div>
                                <p _ngcontent-c8="" class="m-b-0"> Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis.</p>
                                <div _ngcontent-c8="" class="m-b-25">
                                  <span _ngcontent-c8="" class="ng-tns-c8-20"><a _ngcontent-c8="" class="m-r-10 f-12" href="javascript:;">Reply</a></span><span _ngcontent-c8="" class="ng-tns-c8-20"><a _ngcontent-c8="" class="f-12" href="javascript:;">Edit</a> </span>
                                </div>
                                <hr _ngcontent-c8="" class="ng-tns-c8-20">
                                
                                <div _ngcontent-c8="" class="media mt-2">
                                  <div _ngcontent-c8="" class="media-left">
                                    <a _ngcontent-c8="" class="ng-tns-c8-20" href="javascript:;">
                                      <img _ngcontent-c8="" class="media-object img-circle comment-img" alt="Generic placeholder image" src="assets/images/avatar-3.jpg">
                                    </a>
                                  </div>
                                  <div _ngcontent-c8="" class="media-body">
                                    <h6 _ngcontent-c8="" class="media-heading">Colleen Hurst <span _ngcontent-c8="" class="f-12 text-muted m-l-5">Just now</span></h6>
                                    <div _ngcontent-c8="" class="stars-example-css review-star">
                                      <i _ngcontent-c8="" class="icofont icofont-star"></i>
                                      <i _ngcontent-c8="" class="icofont icofont-star"></i>
                                      <i _ngcontent-c8="" class="icofont icofont-star"></i>
                                      <i _ngcontent-c8="" class="icofont icofont-star"></i>
                                      <i _ngcontent-c8="" class="icofont icofont-star"></i>
                                    </div>
                                    <p _ngcontent-c8="" class="m-b-0">Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis.</p>
                                    <div _ngcontent-c8="" class="m-b-25">
                                      <span _ngcontent-c8="" class="ng-tns-c8-20"><a _ngcontent-c8="" class="m-r-10 f-12" href="javascript:;">Reply</a></span><span _ngcontent-c8="" class="ng-tns-c8-20"><a _ngcontent-c8="" class="f-12" href="javascript:;">Edit</a> </span>
                                    </div>
                                  </div>
                                  <hr _ngcontent-c8="" class="ng-tns-c8-20">
                                </div>
                              </div>
                            </div>
                            <div _ngcontent-c8="" class="media mt-2">
                              <div _ngcontent-c8="" class="media-left">
                                <a _ngcontent-c8="" class="ng-tns-c8-20" href="javascript:;">
                                  <img _ngcontent-c8="" class="media-object img-circle comment-img" alt="Generic placeholder image" src="assets/images/avatar-2.jpg">
                                </a>
                              </div>
                              <div _ngcontent-c8="" class="media-body">
                                <h6 _ngcontent-c8="" class="media-heading">Mark Doe<span _ngcontent-c8="" class="f-12 text-muted m-l-5">Just now</span></h6>
                                <div _ngcontent-c8="" class="stars-example-css review-star">
                                  <i _ngcontent-c8="" class="icofont icofont-star"></i>
                                  <i _ngcontent-c8="" class="icofont icofont-star"></i>
                                  <i _ngcontent-c8="" class="icofont icofont-star"></i>
                                  <i _ngcontent-c8="" class="icofont icofont-star"></i>
                                  <i _ngcontent-c8="" class="icofont icofont-star"></i>
                                </div>
                                <p _ngcontent-c8="" class="m-b-0">Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis.</p>
                                <div _ngcontent-c8="" class="m-b-25">
                                  <span _ngcontent-c8="" class="ng-tns-c8-20"><a _ngcontent-c8="" class="m-r-10 f-12" href="javascript:;">Reply</a></span><span _ngcontent-c8="" class="ng-tns-c8-20"><a _ngcontent-c8="" class="f-12" href="javascript:;">Edit</a> </span>
                                </div>
                                <hr _ngcontent-c8="" class="ng-tns-c8-20">
                              </div>
                            </div>
                          </ul>
                          <div _ngcontent-c8="" class="md-float-material d-flex">
                            <div _ngcontent-c8="" class="md-group-add-on p-relative col-lg-12">
                              <div _ngcontent-c8="" class="input-group input-group-button input-group-primary">
                                <span _ngcontent-c8="" class="input-group-addon"><i _ngcontent-c8="" class="icofont icofont-comment"></i></span>
                                <input _ngcontent-c8="" class="form-control" placeholder="Write Comment" type="text">
                                <span _ngcontent-c8="" class="input-group-addon">
                                               <button _ngcontent-c8="" class="btn btn-primary"><i _ngcontent-c8="" class="icofont icofont-plus"></i>note</button>
                                               </span>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  
                </div>
              
            </div>


      </tab>
      <tab heading="Basic Title 2">
        <div class="tab-content">Basic content 2</div>
      </tab>
    </tabset>
  </div>

</div>